footer{
	height: 380px;
	width: auto;
	background: black;
	color: #D3DBB6;   
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
.networks a{
text-decoration: none;
color: white;
}
.znachku a{
text-decoration: none;
color: white;
}
img{
	height: 40px;
	width: auto;
}
.contact{
margin-top: 20px;
padding-left:5%; 
}
.prava{
padding-right: 5%;
}
.cPrava{
		display: flex;
	flex-direction: row;
		justify-content: space-between;
}
